* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --white: #F6F4EB;
    --lightBlue: #91C8E4;
    --blue: #749BC2;
    --DarkBlue: #4682A9;
    --black: #333
}

html, body {
    color: var(--white);
    background-color: var(--white);
}

/* Global */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 20px;
}

span {
    font-size: 16px;
}

a {
    color: var(--black);
    cursor: pointer;
}

a:hover {
    text-shadow: 1px 2px 2px rgba(38, 38, 38, 0.277);
}

/* Header */

header {
    background-color: var(--DarkBlue);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid var(--black);
}

header > div:first-child {
    margin-right: 50px;
}

.profile {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
}

.profile-text > h1 {
    margin-bottom: 10px;
}

.social-media {
    font-size: 32px;
    margin-top: 10px;
}

#github {
    color: var(--black);
}

#linkedin {
    color: var(--black);
}

.social-media > a > i:active {
    color: var(--white);
}

/* Main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    margin-top: 25px;
    margin-bottom: 25px;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    padding: 0 50px 0;
}

.flex-container > div {
    width: 100%;
    /* background-color: var(--DarkBlue); */
}

.flex-container h1 {
    border-bottom: 1px solid rgba(3, 3, 3, 0.2);
    margin-bottom: 10px;
}

.flex-container h2 {
    margin-bottom: 5px;
}

.description {
    margin-bottom: 20px;
}

.description > img {
    width: 100px;
}

#project-img {
    width: 400px;
    box-shadow: 1px 2px 3px rgba(126, 126, 126, 0.526)
}

.skill {
    display: flex;
    gap: 10px;
    margin: 10px 10px 10px 0;
}

.skill > p {
    background-color: var(--DarkBlue);
    padding: 5px;
    border-radius: 5px;
    color: var(--white);
}

.certificates > p {
    margin: 10px 0;
}

/* Footer */

footer {
    width: 100%;
    background-color: var(--DarkBlue);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.icon i{
    color: var(--white);
    font-size: 32px;
    line-height: 20px;
}

/* Media Query */
@media (max-width: 900px) {
    #project-img {
        width: 250px;
    }
    
    footer {
        flex-direction: column;
        gap: 25px;
    }

    #copyright {
        order: 4;
    }
}

@media (max-width: 600px) {
    /* Header */
        header {
            flex-direction: column;
        }

        header > div {
            margin-bottom: 15px;
        }

        header > div:first-child {
            margin-right: 0px;
        }

        header {
            text-align: center;
        }

        .flex-container {
            flex-direction: column;
        }

        .description > img {
            width: 50px;
        }

    }